<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACM_Assistant.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4488DF2F1BFF1E6300E18482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4488DF481BFF1E6400E18482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4488DF531BFF1E6400E18482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
